# Python
venv/
__pycache__/
*.py[cod]

# Node.js
node_modules/

# Angular
.angular/
frontend/.angular/

# Environment variables
.env
frontend/node_modules/
backend/venv/
backend/**/__pycache__/
*.pyc
*.pyo
backend/*.db
